<ion-view view-title="nonbox" hide-back-button="true">
  <ion-content>
    <h2 class="page-header">Bug Report</h2>
    <p class="page-subheader">Found a bug? Tell us :) this is not for support requests or general issues, this is for specific confirmed bugs. If you're a developer, feel free to submit a pull request on Github.</p>
    <form ng-submit="submit(body)">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" ng-model="body.name" placeholder="Name (optional)">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" ng-model="body.email" placeholder="Email (optional)">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Bug Description</span>
          <textarea ng-model="body.message" required placeholder="What's the bug? When does it occur? Give steps to reproduce please :)"></textarea>
        </label>
      </div>
      <button type="submit" class="button button-full button-dark">
        Submit Bug Report
      </button>
      <span class="icon icon-{{message.icon}} {{message.color}}"> {{message.text}}</span>
    </form>
  </ion-content>
</ion-view>
