<ion-view view-title="nonbox" hide-back-button="true">
	<ion-content>
		<ion-refresher
	    pulling-text="check connection"
	    on-refresh="check()">
	  </ion-refresher>
		<div class="view-profile">
			<div class="profile-bg">
				<a class="item item-avatar" nav-clear>
					<div class="circle">
						<i class="icon ion-wifi"></i>
						<i class="icon ion-android-checkbox-blank"></i>
						<i ng-show="online" class="icon ion-checkmark-round"></i>
						<i ng-hide="online" class="icon ion-close-round"></i>
					</div>
					<h2>Connected to nonbox</h2>
					<p>{{assigned.total}} devices connected, {{assigned.remaining}} available slots left</p>
				</a>
			</div>
			<!-- button bar with style FOLLOWER / FOLLOWING -->
			<div class="button-bar">
				<a class="button">
					<h2 class="ion-battery-charging"></h2>
					<p ng-show="nbConnected">50%</p>
				</a>
				<a class="button">
					<h2 class="ion-wifi"></h2>
					<p ng-show="online">Online&nbsp;&nbsp;<i class="ion-checkmark-round"></i></p>
					<p ng-hide="online">Offline&nbsp;&nbsp;<i class="ion-close-round"></i></p>
				</a>
				<a class="button">
					<h2 class="ion-ios-information"></h2>
					<p ng-show="nbConnected">v1.0.1</p>
				</a>
			</div>
			<h3>Connected Devices</h3>
			<ion-list ng-show="nbConnected">
				<ion-item>
					<h2>Some Device</h2>
					<p>00:0a:95:9d:68:16</p>
					<i class="icon-view ion-ios-close"></i>
				</ion-item>
				<ion-item>
					<h2>Some Device</h2>
					<p>00:0a:95:9d:68:16</p>
					<i class="icon-view ion-ios-close"></i>
				</ion-item>
				<ion-item>
					<h2>Some Device</h2>
					<p>00:0a:95:9d:68:16</p>
					<i class="icon-view ion-ios-close"></i>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
