<ion-view>
  <ion-nav-buttons></ion-nav-buttons>
	<ion-content>
		<ion-refresher
	    pulling-text="check connection"
	    on-refresh="check()">
	  </ion-refresher>
		<div class="view-profile">
			<div class="profile-bg">
				<a class="item item-avatar" nav-clear>
					<div class="circle">
						<i class="icon ion-wifi"></i>
						<i class="icon ion-android-checkbox-blank"></i>
						<i ng-show="nbConnected" class="icon ion-checkmark-round"></i>
						<i ng-hide="nbConnected" class="icon ion-close-round"></i>
					</div>
					<h2><span ng-hide="nbConnected">not </span>connected</h2>
					<p ng-show="nbConnected">{{info.assigned.total}} devices connected, {{info.assigned.remaining}} available slots left</p>
				</a>
			</div>
			<div class="button-bar">
				<a class="button">
					<h2 class="ion-battery-charging"></h2>
					<p ng-bind="info.battery"></p>
				</a>
				<a class="button">
					<h2 class="ion-wifi"></h2>
					<p ng-show="online">Online&nbsp;&nbsp;<i class="ion-checkmark-round"></i></p>
					<p ng-hide="online">Offline&nbsp;&nbsp;<i class="ion-close-round"></i></p>
				</a>
				<a class="button">
					<h2 class="ion-ios-information"></h2>
					<p ng-bind="info.version"></p>
				</a>
			</div>
			<h3>Connected Devices</h3>
			<ion-list>
				<ion-item ng-repeat="device in info.devices">
					<h2 ng-bind="device.name"></h2>
					<p ng-bind="device.mac"></p>
					<i on-tap="removeDevice(device, $index)" class="icon-view ion-ios-close"></i>
				</ion-item>
			</ion-list>
		</div>
    <div ng-click="modal.show()">open modal</div>
	</ion-content>
</ion-view>
