<ion-view title="nonbox" hide-back-button="true">
  <ion-content>
    <h2 class="page-header">Quickstart Guide</h2>
    <div class="info-page show">
      <div class="list">
        <a class="item item-icon-left item-text-wrap">
          <i class="icon">1</i>
          <h2>Power</h2>
          <p>Power on your nonbox, give it 10 seconds to boot. Select the "nonbox" WiFi network from your phone or laptop's WiFi menu.</p>
        </a>
        <a class="item item-icon-left item-text-wrap">
          <i class="icon">2</i>
          <h2>Pair</h2>
          <p>Tap "Devices" from the menu. Add your nonbox (serial number is located on the bottom of the nonbox). Tap the control button, then tap on your device to see if you are connected.</p>
        </a>
        <a class="item item-icon-left item-text-wrap">
          <i class="icon">3</i>
          <h2>Surf</h2>
          <p>Tap "networks" and choose a Wireless network to connect your nonbox to. Happy anonymous surfing :)</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
