<ion-view title="nonbox" hide-back-button="true">
  <ion-content>
    <h2 class="page-header">Quickstart Guide</h2>
    <div class="info-page show">
      <div class="list">
        <a class="item item-icon-left item-text-wrap">
          <i class="icon">1</i>
          <h2>Power</h2>
          <p>Power on your nonbox, give it 10 seconds to boot.</p>
        </a>
        <a class="item item-icon-left item-text-wrap">
          <i class="icon">2</i>
          <h2>Pair</h2>
          <p>Tap "nonbox" from the menu. Connect to your nonbox by making sure you enter your nonbox id (located at the bottom of your nonbox), and that you have a green check signifying you are "connected"</p>
        </a>
        <a class="item item-icon-left item-text-wrap">
          <i class="icon">3</i>
          <h2>Connect</h2>
          <p>Tap "networks" and choose a Wireless network to connect your nonbox to. Happy surfing :)</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
