<ion-view title="nonbox" hide-back-button="true">
  <ion-content>
    <h2 class="page-header">Quickstart Guide</h2>
    <div class="info-page show">
      <div class="list">
        <a class="item item-icon-left">
          <i class="icon">1</i>
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
        <a class="item item-icon-left">
          <i class="icon">2</i>
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
        <a class="item item-icon-left">
          <i class="icon">3</i>
          <h2>Venkman</h2>
          <p>Back off, man. I'm a scientist.</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
