<ion-view view-title="nonbox" hide-back-button="true">
	<ion-content padding="true" class="support">
    <h2>Get Support</h2>
    <p>
      If you need help getting setup with your nonbox, please look over the
      <a ui-sref="quickstart">quickstart guide</a> and the
      <a ui-sref="tutorials">tutorials</a>.
    </p>
    <p>
      If you've found an official bug that you can document and reproduce, submit a
      <a ui-sref="bugs">bug report</a> so we can fix it!
    </p>
    <p>
      If you have an idea or suggestion feel free to
      <a ui-sref="suggestions">share with us</a>.
    </p>
    <hr>
    <p>
      If you're having other issues, post your problem/question on the nonbox support forum
      and a team member or contributor will help out.
    </p>
    <p>
      <i class="icon ion-chatboxes"></i>
    </p>
    <p>
      <a class="exref" on-tap="exref('https://support.nonbox.io')">support.nonbox.io</a>
    </p>
	</ion-content>
</ion-view>
